TELEGRAM_BOT_TOKEN=""
GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_DESTINATION=""
SCRAPE_URLS=["https://www.immoscout24.ch/en/flat/rent/postcode-3008-bern?r=2000&nrf=4&loc=geo-zipcode-3007%2Cgeo-zipcode-3011%2Cgeo-zipcode-3012%2Cgeo-zipcode-3014"]
SCRAPING_INTERVAL=120
SENTRY_DSN=

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=rootpassword
MONGO_HOST=localhost
MONGO_PORT=27017